body {
    margin-left:15%;
    margin-right:15%;
}
h1,h2,h3 {
    font-family: sans-serif;
    margin-top: 2em;
}
table {
    border: 1px solid black;
}
th,td {
    border:1px solid black;
}
.right {
    text-align: right;
    font-style: italic;
}
h1 {
    font-size: 32px;
}
.sign {
    float:right;
    margin: 20px 10px 0px 15px;
}
.center {
    width: 980px;
    padding: 10px;
    margin: auto;
    }
    .х {
        object-position: top;
        margin:0px auto;
    }
